.settings-heading {
  padding: 1em 0;
}

.kintoneplugin-input-text {
  width: 20em;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  flex-flow: row wrap;
/*  grid-template-rows: 80vh;*/
}

.box {
  border: 1px solid black;
  /*display: flex;*/
  flex-flow: row nowrap;
  overflow: hidden;
}

.item {
  margin: 10px;
  border: 1px solid black;
}

.dragging {
  opacity: 0.5;
}

.over {
  background-color: rgba(255, 255, 0, 0.3);
}

.control-value-gaiatab {
  border-color: #d8d8d8;
  border-width: 1px;
  border-style: solid;
  padding: 4px 8px;
  background-color: #eee;
  word-wrap: break-word;
}
.subtable-label-gaiatab {
  background-color: #3498db;
  border-color: #3498db;
  height: 40px;
  color: #fff;
  box-sizing: border-box;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
  border-width: 2px 2px 2px 0;
}